{#
/**
 * @file
 * Default view template to display content with MixItUp.
 */
#}
{% if filters is not null %}
  <div class="filters_wrapper clearfix">{{ filters }}</div>
{% endif %}

<div class="custom-mixitup-items-wrapper d-flex flex-wrap">
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{ row.content }}
  </div>
{% endfor %}
</div>