// Base styles
// --------------------------------------------------

.btn:not(.btn-normal) {
  text-transform: uppercase;
}

.btn {
  font-weight: 700;
}

.btn-default-dark {
  @include button-variant($btn-default-dark-color, $btn-default-dark-bg, $btn-default-dark-border);
}

.btn-scarlet {
  @include button-variant($btn-scarlet-color, $btn-scarlet-bg, $btn-scarlet-border);
}

// For taxonomy terms that use the button view mode
.btn-list > .btn {
  margin-bottom: 5px;
}
