// Footer.
.footer {
  // margin-top: 45px;
  background-color: $color-brown-dark;
  color: $color-white;
  & a {
    color: $color-white;
    &:hover,
    &:focus {
      color: $color-squash-dark;
    }
  }
  .footer__main {
    padding-top: 35px;
    padding-bottom: 36px;
  }
  .footer__main {
    font-size: 16px;
  }
  .footer__secondary {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: $color-brown;
    color: $color-white;
  }
  .region-footer-fifth {
    font-size: 14px;
    text-align: center;
    line-height: 1;
  }
}
