// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
// .page-header {
//   margin-top: 0;
// }

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

/**
 * Custom overrides
 */

// University brand.
.university-brand {
  background-color: $color-red-dark;
  padding-top: 7px;
  padding-bottom: 7px;
}

// Fix weirdness with inline field labels & field values
.field--label-inline .field--items {
  float: none;
  display: inline-block;
}

.field--label-inline .field--label, .field--label-inline > .field--item, .field--label-inline .field--items {
   padding-right: .25em;
}

// Content region
.region-content {
  padding-bottom: $line-height-computed;
}

// Flexbox stuff
.flex-height {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}

.view-id-di_projects.view-display-id-block_all_projects_grid .view-content .custom-mixitup-items-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  & .mix_item.mix.flex-height {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
  }
}

.view-id-di_projects.view-display-id-block_recently_added_grid_9 .view-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

// For the "view all" buttons on views
.view-footer {
  padding-left:  floor(($grid-gutter-width / 2));
  padding-right: ceil(($grid-gutter-width / 2));
  text-align: center;
}

.view-footer .btn {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);
}
