// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  background-color: $color-brown-dark;
  color: $color-white;

  & a {
    color: $color-white;

    &:hover,
    &:focus {
      color: $color-squash-dark;
    }
  }

  .footer__main {
    padding-top: 35px;
    padding-bottom: 36px;
  }

  .footer__secondary {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: $color-brown;
    color: $color-white;
  }

}

// University brand.
.university-brand {
  background-color: $color-red-dark;
  padding-top: 7px;
  padding-bottom: 7px;
}

// Navbar name.
.navbar .name {
  text-transform: uppercase;
  font-family: Oregon,sans-serif;
}

// Navbar links.
.navbar-nav > li > a {
  font-weight: 500;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}
