/**
 * Landing page content type
 * 
 */

@import "default-variables";
@import "../bootstrap/assets/stylesheets/bootstrap/mixins";

// To constrain node__header on landing page
.no-sidebars.edge-to-edge .region-content > .edge-to-edge > .node__header {
  @include container-fixed;
  @media (min-width: $screen-lg-min) {
    max-width: $container-lg;
  }
}

// Remove padding-bottom from .region-content 
.page-node-type-landing-page .region-content {
  margin-bottom: -$line-height-computed;
}

.paragraph--type--text + .paragraph--type--media, 
.paragraph--type--media + .paragraph--type--text {
  margin-top: ($line-height-computed / 2);
}

.paragraph--type--text + .paragraph--type--view {
  margin-top: $line-height-computed;
}