/**
 * Person content type
 * 
 */

@import "default-variables";
@import "../bootstrap/assets/stylesheets/bootstrap/mixins";

.field--name-field-person-position {
  font-weight: 700;
}

.field--name-field-person-department {
  font-style: italic;
}

.person__portrait {
  @media (min-width: 568px) {
    float: left;
    width: percentage((4 / $grid-columns));
    padding-right: ceil(($grid-gutter-width / 2));
  }
}

// To reset the width of the person content type

.no-sidebars .region-content > .person.full {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.no-sidebars .region-content > .person.full > .content {
  @include container-fixed;
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}