/**
 * Person content type
 * 
 */

@import "default-variables";
@import "../bootstrap/assets/stylesheets/bootstrap/mixins";

// Provides padding and margin for the div that holds the Person portrait, Person name, and contact info.
// Please see node--person--full.html.twig
.node-header-wrapper {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;

  & .page-title {
    @media (min-width: 568px) {
      margin-top: 0px;
    }
  }
}

.person-contact {
  margin-top: 14px;
}

.field--name-field-person-position {
  font-weight: 700;
}

.field--name-field-person-department {
  font-style: italic;
}

.person__portrait {
  @media (min-width: 568px) {
    float: left;
    width: percentage((4 / $grid-columns));
    padding-right: ceil(($grid-gutter-width / 2));
  }
}
