// Default variables.
@import "default-variables";

// Bootstrap Framework.
// @import '../bootstrap/assets/stylesheets/bootstrap';

// Core variables and mixins
@import "../bootstrap/assets/stylesheets/bootstrap/variables";
@import "../bootstrap/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../bootstrap/assets/stylesheets/bootstrap/normalize";
@import "../bootstrap/assets/stylesheets/bootstrap/print";
@import "../bootstrap/assets/stylesheets/bootstrap/glyphicons";
@import "../../../../libraries/fontawesome/scss/fontawesome.scss";
@import "../../../../libraries/fontawesome/scss/brands.scss";
@import "../../../../libraries/fontawesome/scss/regular.scss";
@import "../../../../libraries/fontawesome/scss/solid.scss";
@import "../../../../libraries/fontawesome/scss/v4-shims.scss";

// Core CSS
// @import "../bootstrap/assets/stylesheets/bootstrap/scaffolding";
// @import "../bootstrap/assets/stylesheets/bootstrap/type";
@import "scaffolding";
@import "type";
@import "../bootstrap/assets/stylesheets/bootstrap/code";
@import "../bootstrap/assets/stylesheets/bootstrap/grid";
@import "../bootstrap/assets/stylesheets/bootstrap/tables";
@import "../bootstrap/assets/stylesheets/bootstrap/forms";
@import "../bootstrap/assets/stylesheets/bootstrap/buttons";

// Components
@import "../bootstrap/assets/stylesheets/bootstrap/component-animations";
@import "../bootstrap/assets/stylesheets/bootstrap/dropdowns";
@import "../bootstrap/assets/stylesheets/bootstrap/button-groups";
@import "../bootstrap/assets/stylesheets/bootstrap/input-groups";
@import "../bootstrap/assets/stylesheets/bootstrap/navs";
// @import "../bootstrap/assets/stylesheets/bootstrap/navbar";
@import "navbar";
@import "footer";
@import "../bootstrap/assets/stylesheets/bootstrap/breadcrumbs";
@import "../bootstrap/assets/stylesheets/bootstrap/pagination";
@import "../bootstrap/assets/stylesheets/bootstrap/pager";
@import "../bootstrap/assets/stylesheets/bootstrap/labels";
@import "../bootstrap/assets/stylesheets/bootstrap/badges";
@import "../bootstrap/assets/stylesheets/bootstrap/jumbotron";
@import "../bootstrap/assets/stylesheets/bootstrap/thumbnails";
@import "../bootstrap/assets/stylesheets/bootstrap/alerts";
@import "../bootstrap/assets/stylesheets/bootstrap/progress-bars";
@import "../bootstrap/assets/stylesheets/bootstrap/media";
@import "../bootstrap/assets/stylesheets/bootstrap/list-group";
@import "../bootstrap/assets/stylesheets/bootstrap/panels";
@import "../bootstrap/assets/stylesheets/bootstrap/responsive-embed";
@import "../bootstrap/assets/stylesheets/bootstrap/wells";
@import "../bootstrap/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "../bootstrap/assets/stylesheets/bootstrap/modals";
@import "../bootstrap/assets/stylesheets/bootstrap/tooltip";
@import "../bootstrap/assets/stylesheets/bootstrap/popovers";
@import "../bootstrap/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "../bootstrap/assets/stylesheets/bootstrap/utilities";
@import "../bootstrap/assets/stylesheets/bootstrap/responsive-utilities";

/* ========================================
Custom Stuffs
======================================== */

@import "background-foreground-variants";
@import "buttons";
@import "container-widths";
@import "display";
@import "flex";
@import "mixitup-overrides";

// Base-theme overrides.
@import 'overrides';
